main {
    margin-left: 10vw;
}

.digit-demo {
    display:flex;
    width: 400px;
}
.digit-demo .attribute-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.key-value-pair .key{
    margin-left: 20px;
    margin-right: 20px;
}

